__pycache__/

other/ai.html
other/ai.txt

env/
.venv/

banquet/
map/
research_unk/

Logfile.csv
stack.CSV

banquet_stream_log.PML

banquet.rar
map.rar
research_unk.rar

*.stream
*.txd
*.rws
*.wav
*.bin
*.log
parsers/*/*.png
*.bsp

.claude
.secdata

parsed_bsps/*.mtl
parsed_bsps/*.obj
parsed_bsps/*/*.png

Levels/*

__pycache__/*